logo_becms_green_white.svg.p-l-30 {
    padding-left: 30px !important;
}

.bg-title h4 {
    font-weight: 100 !important;
}

.switcher-active {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
    padding: 3px 0;
    z-index: 9999;
}

.page-item h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.checkbox label {
    font-weight: 500 !important;
}

.sidebar #side-menu .user-pro {
    background: url('../../templates/pixel/plugins/images/profile-menu.png') center center/cover no-repeat;
}

.template-header, .template-footer {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.template-footer {
}

.template-content {
    position: relative;
    margin-bottom: 0;
}

.template-content h5, .template-content h6 {
    text-align: center;
}

.template-content .panel-heading {
    text-align: center;
}

.template-content img {
    max-width: 100%;
    height: 200px;
    display: block;
}

.template-content iframe, .template-content .title {
    display: block;
}

.dropdown-toggle .fa {
    margin-left: 0 !important;
}

.template-content .well {
    display: none;
}

td {
    vertical-align: middle !important;
}

.well td {
    padding: inherit !important;
}

.well.is-draft {
    border-style: dashed;
}

.link-u {
    text-decoration: underline !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.t-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding: 0 5px;
}

.h-fixed-sub {
    height: 100px;
}

.formItem {
    display: none;
}

ul.pagination {
    margin-bottom: 0 !important;
}

.max-w-300 {
    max-width: 300px;
}

.is-deleted {
    font-style: italic !important;
    text-decoration: line-through;
    color: lightgrey;
}

.craft-input {
    display: none;
}

.box-pic-gallery {
    width: 50px;
    height: 50px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.box-pic-gallery.more {
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    border: 1px solid grey;
}

.img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

textarea.no-grow {
    resize: none;
}

.processQueue {
    display: none;
}

.h-225 {
    height: 225px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: none;
}

.bootstrap-tagsinput .tag {
    margin-right: 0;
}

.label-info, .user-bg .overlay-box {
    background-color: #4F5467;
}

.tag.label {
    padding: 6px 12px;
}

.tag {
    text-transform: uppercase;
}

.login-register {
    background-image: url('../img/login-bg.jpg') !important;
}

.no-shadow {
    box-shadow: none !important;
}

.login-sidebar, .login-sidebar .white-box {
    background-color: #353c48;
}

.login-box .form-control {
    color: #dce2ec;
    text-align: center;
}

.p-t-30 {
    padding-top: 30px !important;
}

span.is-a-tweet {
    top: -10px;
    position: absolute;
    left: 20px;
    background-color: #1DA1F2;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 4px 6px 1px 6px;
}

.content-wrap section {
    padding: 15px 0;
}

.tabs-style-bar nav ul li.tab-current a {
    background-color: #4F5467;
}

.table .link-u {
    display: inline;
}

.tooltip-inner2 {
    background: #FFF;
    padding: 0;
    border: 1px dashed #DDD;
    border-bottom: none;
}

a.mytooltip {
    color: inherit;
}

._media_list {
    margin-top: 10px;
    margin-bottom: -10px;
    background-color: #F2F2F2;
    padding: 5px 0;
}

._media_list .br4 {
    border-radius: 4px;
}

.list-inline > li {
    vertical-align: middle;
}

.ms-container {
    width: 100%;
}

.php-info pre {
    margin: 0;
    font-family: monospace;
}

.php-info a:link {
    color: #009;
    text-decoration: none;
    background-color: #ffffff;
}

.php-info a:hover {
    text-decoration: underline;
}

.php-info table {
    border-collapse: collapse;
    border: 0;
    width: 100%;
    box-shadow: 1px 2px 3px #ccc;
}

.php-info .center {
    text-align: center;
}

.php-info .center table {
    margin: 1em auto;
    text-align: left;
}

.php-info .center th {
    text-align: center !important;
}

.php-info td {
    border: 1px solid #666;
    font-size: 100%;
    vertical-align: baseline;
    padding: 10px;
}

.php-info th {
    border: 1px solid #666;
    font-size: 100%;
    vertical-align: baseline;
    padding: 4px 5px;
}

.php-info h1 {
    font-size: 150%;
}

.php-info h2 {
    font-size: 125%;
}

.php-info .p {
    text-align: left;
}

.php-info .e {
    background-color: #ccf;
    width: 100px;
}

.php-info .h {
    background-color: #99c;
    font-weight: bold;
}

.php-info .v {
    background-color: #ddd;
    max-width: 50px;
    overflow-x: auto;
    word-wrap: break-word;
}

.php-info .v i {
    color: #999;
}

.php-info img {
    float: right;
    border: 0;
}

.php-info hr {
    width: 100%;
    background-color: #ccc;
    border: 0;
    height: 1px;
}

.page-item .white-box {
    margin: 10px 0;
}

.table_medias tr td {
    padding: 5px 0 !important;
}

.medias_table_container {
    padding: 5px;
    max-height: 235px;
    overflow-y: auto;
}

.addExistingItemMenu {
    padding: 0 !important;
}

#existing-item {
    margin: 0;
}

#existing-item li {
    padding: 10px;
    display: flex;
    align-items: center;
}

#existing-item li:hover {
    background: #ededed;
}

.addItem {
    margin-right: 15px;
    font-size: 1.5rem;
    padding: 8px;
}

.addItem i {
    display: block
}

.dd {
    width: 100% !important;
    max-width: none !important;
}

.dd-empty {
    border: none !important;
    background: #f5f5f5;
}

.dd-empty::before {
    content: "\e68f";
    font-family: themify;
    font-size: 6rem;
    display: block;
    width: min-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: .375;
    color: #aaa;
}

.dd-handle {
    clear: right;
    height: 50px !important;
    line-height: 38px;
    border: none !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15) !important;
    margin: 8px 0 !important;
}

.dd-handle:hover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.dd-item {
    max-width: 600px;
}

.dd-collapse, .dd-expand {
    height: 37px !important;
}

._editButton, ._deleteButton {
    margin: 5px;
}

._editBox {
    display: none;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15) !important;
    box-sizing: border-box;
    background: #fafafa;
    padding: 10px;
    margin-top: -15px;
    margin-bottom: 15px;
}

.addExistingItemMenu {
    max-height: 320px;
    overflow-y: auto;
}

hr._separator {
    margin: 30px 0;
    border-style: dashed;
}

._hidden {
    display: none;
}

.select2-results__option {
    text-align: left;
}

.select2-container .select2-selection--single {
    height: 38px;
    border: 1px solid #e4e7ea;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}

.form-inline .form-control {
    width: 100%;
}

.remodal {
    border-radius: 4px;
}

.remodal h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 auto;
}

.mr5 {
    margin-right: 5px;
}

.ml5 {
    margin-left: 5px;
}

tr._depth_2 td._name {
    padding-left: 20px;
}

tr._depth_3 td._name {
    padding-left: 40px;
}

tr._depth_4 td._name {
    padding-left: 60px;
}

hr._separator {
    margin: 10px 0 35px;
    border-style: dashed;
}

.mr5 {
    margin-right: 5px;
}

.ml5 {
    margin-left: 5px;
}

.navbar-header {
    background: #000;
}

.fix-sidebar .top-left-part {
    background: #000;
}

.color-belead {
    color: #0f7f62;
}

.bg-belead {
    background-color: #0f7f62;
}

.btn-belead.btn-outline {
    color: #0f7f62;
    background-color: transparent;
}

.btn-belead, .btn-belead.disabled {
    background: #0f7f62;
    border: 1px solid #0f7f62;
}

.btn-belead.disabled.focus, .btn-belead.disabled:focus, .btn-belead.disabled:hover, .btn-belead.focus, .btn-belead:focus, .btn-belead:hover {
    background: #0f7f62;
    opacity: .8;
    border: 1px solid #0f7f62;
}

.btn-belead.btn-outline.focus, .btn-belead.btn-outline:focus, .btn-belead.btn-outline:hover {
    background: #0f7f62;
    border: 1px solid #0f7f62;
    color: #fff;
}

.btn-belead.active.focus, .btn-belead.active:focus, .btn-belead.active:hover, .btn-belead.focus, .btn-belead.focus:active, .btn-belead:active:focus, .btn-belead:active:hover, .btn-belead:focus, .open > .dropdown-toggle.btn-belead.focus, .open > .dropdown-toggle.btn-belead:focus, .open > .dropdown-toggle.btn-belead:hover {
    background-color: #0f7f62;
    border: 1px solid #0f7f62;
}

.sidebar .label-custom {
    background: #0f7f62;
}

.btn-success, .btn-success.disabled {
    background: #0f7f62;
    border: 1px solid #0f7f62;
}

.bg-black {
    background-color: #000;
}

.bg-grey {
    background-color: #F6F6F6;
}

.bg-blue {
    background-color: #1b5761;
}

.text-blue {
    color: #1b5761;
}

.bg-darkblue {
    background-color: #314155;
}

.bg-lightgreen {
    background-color: #9bbe9c;
}

.text-lightgreen {
    color: #9bbe9c;
}

#morris-area-chart text, #morris-area-chart-pageviews text {
    fill: #fff !important;
}

.template-content .well {
    background: #f9f9f9;
}

._partial_previews ._hidden {
    padding: 15px;
    border: 2px dashed #0f7f62;
    margin-bottom: 25px;
    border-radius: 4px;
    background-color: #fff;
}

._partial_previews h3 {
    margin-top: 0;
    font-weight: 600;
    font-family: Rubik,sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

._pick_partial {
    padding: 15px;
    border: 2px solid #ddd;
    margin-bottom: 15px;
    border-radius: 5px;
    transition-duration: 0.2s;
}

._pick_partial:hover {
    border-color: #0f7f62;
}

._pick_partial .partial-title {
    margin-top: 15px;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: #000 !important;
}

.login-sidebar, .login-sidebar .white-box {
    background: #000;
}

.login-separator span {
    display: block;
    position: relative;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    background: #000;
}

.login-separator span:before {
    content: '';
    position: absolute;
    left: -60px;
    top: 8px;
    height: 1px;
    width: 60px;
    background: rgba(255, 255, 255, 0.3);
}

.login-separator span:after {
    content: '';
    position: absolute;
    right: -60px;
    top: 8px;
    height: 1px;
    width: 60px;
    background: rgba(255, 255, 255, 0.3);
}

#updates {
    position: relative;
}

#updates ._loader {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.65);
    color: #fff;
}

#updates.is_loading ._loader {
    display: flex;
}

img._cms {
    padding: 15px;
    background-color: #D6D6D6;
    border-radius: 8px;
}

._article_list_item:hover ._actions a {
    display: block !important;
}

@media only screen and (max-width: 768px) {
    ._filters_form .form-group {
        width: 100% !important;
        margin-bottom: 15px;
    }

    ._filters_form .form-group:last-child {
        margin-bottom: 0;
    }
}
