.editor-box{
    display:block;
    margin:20px 0;
    padding:30px;
    font-size:18px;
}
.editor-box strong{
    display:block;
    font-size:21px;
    margin-bottom:15px;
}
.editor-box-green{
    background: #336666;
    color:#fff;
}
.editor-box-orange{
    background: #ea7102;
    color:#fff !important;
}
.editor-box-blue{
    background: rgba(29, 41, 63, 0.9);
    color:#fff !important;
}
.editor-quote{
    display:block;
    margin:20px 0;
    padding:30px;
    font-size:18px;
}
.editor-quote strong{
    display:block;
    font-size:21px;
    margin-bottom:15px;
    font-weight: 700;
}
.editor-quote-grey{
    border-left:3px solid #F0F0F0;
}
.editor-quote-orange{
    border-left:3px solid #ea7102;
}
.editor-quote-orange strong{ color: #ea7102; }
.editor-quote-blue{
    border-left:3px solid rgba(29, 41, 63, 0.9);
}
.editor-quote-blue strong{ color: rgba(29, 41, 63, 0.9); }
.editor-text-orange{
    color:#ea7102 !important;
}
.editor-text-blue{
    color:rgba(29, 41, 63, 0.9) !important;
}
