*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.mt-5{
    margin-top: 5rem;
}

.our-blog{
    background-color: #f8f9fa;
    padding: 100px 0;
}

.col{
    width: 25%;
    overflow: hidden;
    padding: 15px;
}

.col .card{
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.col img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 0;
}

.col .card-body{
    padding: 0 15px 15px 15px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-body h5{
    font-size: 24px;
    margin: 7px 0;
}

.card:hover{
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.card p{
    color: #6c757d;
}

.card-body .date-author span{
    color: #e74c3c;
}

.card-body h5 a{
    color: #222;
}

a:not(.btn) {
    color: #FF6600;
}

.gr-menu-dropdown{
    border-top:3px solid #FF6600;
}

.gr-menu-dropdown > .drop-menu-item{
    padding-left:20px;
    padding-right:20px;
}

.gr-menu-dropdown > .drop-menu-item > a{
    white-space: normal;
}

.gr-menu-dropdown > .drop-menu-item > a small{
    display:block;
}

.editor-box{
    display:block;
    margin:20px 0;
    padding:30px;
    font-size:18px;
}
.editor-box strong{
    display:block;
    font-size:21px;
    margin-bottom:15px;
}
.editor-box-green{
    background: #336666;
    color:#fff;
}
.editor-box-orange{
    background: #ea7102;
    color:#fff !important;
}
.editor-box-blue{
    background: rgba(29, 41, 63, 0.9);
    color:#fff !important;
}
.editor-quote{
    display:block;
    margin:20px 0;
    padding:30px;
    font-size:18px;
}
.editor-quote strong{
    display:block;
    font-size:21px;
    margin-bottom:15px;
    font-weight: 700;
}
.editor-quote-grey{
    border-left:3px solid #F0F0F0;
}
.editor-quote-orange{
    border-left:3px solid #ea7102;
}
.editor-quote-orange strong{ color: #ea7102; }
.editor-quote-blue{
    border-left:3px solid rgba(29, 41, 63, 0.9);
}
.editor-quote-blue strong{ color: rgba(29, 41, 63, 0.9); }
.editor-text-orange{
    color:#ea7102 !important;
}
.editor-text-blue{
    color:rgba(29, 41, 63, 0.9) !important;
}

.diagnostics_box {
    background: #1b4e5b;
    padding: 15px 30px;
    color: white!important;
}

.diagnostics_box ul li, .diagnostics_box p {
    color: white!important;
}

.services-section ul li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    color: #ea7102;
    position: absolute;
    width: 300px;
    left: 0;
    top: 0;
    line-height: 30px;
    margin-top: 5px;
}


.diagnostic-results{
    background: #F6F6F6;
    border-radius:4px;
    padding:50px;
}

.diagnostic-results p small{
    color:#666;
}

.diagnostic-results .bravo{
    text-align:center;
}
.diagnostic-results .bravo h4{
    margin-bottom:30px
}

.diagnostic-results .bravo .fa{
    font-size:50px;
    margin:20px 0 50px;
    color: #00999e;
}

._diagnostic_results h2 small, ._diagnostic_registration h2 small{
    font-size:18px;
}

.rb {
    padding: 16px 0;
    text-align: left;
    background: rgba(0,0,0,.03);
    border-radius: .3em;
    width:460px;
    margin-bottom:70px;
    margin-top:30px;
}

.rb-tab {
    display: inline-block;
    position: relative;
    width: 60px;
    margin-bottom:10px;
    margin-top:18px;
    margin-left:10px;
}

.rb-tab input{ display:none; }

.rb-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: #000;
}

.rb-spot {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.1);
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 100%;
    cursor: pointer;
    transition: ease .5s;
}

.rb-spot.rb-tab-active {
    background: rgba(0,0,0,.45);
    border: 2px solid rgba(0,0,0,.6);
}

.rb-spot.rb-tab-active .rb-txt{
    color:#fff;
}



@media(min-width: 577px) and (max-width: 768px){
    .col{
        width: 50%;
    }
}

@media(max-width: 576px){
    .col{
        width: 100%;
    }
}

.nice-select{
    padding-top:0;
}

.rb{
    width:100%;
    text-align: center;
}

.rb .rb-tab{
    margin-left:0;
    margin-right:0;
    width: 76px;
}

.rb .rb-tab .rb-spot{
    width: 80px;
    height:42px;
    border-radius: 0;
}

.rb-spot.rb-tab-active{
    background: #1b4e5b;
}

.rb .rb-tab .rb-txt{
    font-size: 0.8em;
    text-transform: uppercase;
}

.color-white{
    color: #fff;
}
.color-orange{
    color: #ea7102;
}

.footer_list li a:hover{
    color: #ea7102;
}
