html {
    scroll-behavior: smooth;
}

.font-color-white{
    color:#FFF;
}

.font-color-lightgray{
    color:#C0C0C0;
}

.bg-orange-op8 {
    background-color: rgba(255, 102, 0, 0.8) !important;
}

.bg-orange {
    background-color: rgba(255, 102, 0, 1) !important;
}

.bg-green {
    background-color: rgba(51, 102, 102, 1) !important;
}

.text-orange {
    color: rgba(255, 102, 0, 1) !important;
}
.text-green {
    color: #00999e !important;
}

.btn-green{
    background: #00999e;
}

.btn-greenfabrique {
    color: #fff;
    background-color: #00999e;
    border-color: #00999e;
}

.btn-greenfabrique:hover {
    color: #fff;
    background-color: #2c6062;
    border-color: #2c6062;
}

.btn-greenfabrique:focus, .btn-greenfabrique.focus {
    color: #fff;
    background-color: #00999e;
    border-color: #00999e;
    box-shadow: 0 0 0 0.2rem rgba(0, 153, 158, 0.5);
}

.btn-greenfabrique.disabled, .btn-greenfabrique:disabled {
    color: #fff;
    background-color: #00999e;
    border-color: #00999e;
}

.btn-greenfabrique:not(:disabled):not(.disabled):active, .btn-greenfabrique:not(:disabled):not(.disabled).active,
.show > .btn-greenfabrique.dropdown-toggle {
    color: #fff;
    background-color: #00999e;
    border-color: #00999e;
}

.btn-greenfabrique:not(:disabled):not(.disabled):active:focus, .btn-greenfabrique:not(:disabled):not(.disabled).active:focus,
.show > .btn-greenfabrique.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 153, 158, 0.5);
}

.l4-content-img-2 .image-card {
    bottom: 70%;
}

.list-demarrer{
    padding-left:50px;
}

.list-demarrer li{
    position: relative;
    margin-bottom:5px;
}

.list-demarrer li i.fa{
    position:absolute;
    left:-35px;
    top:6px;
    color:#00999e;
}

.list-apropos{
    padding-left:50px;
    color:#fff;
}

.list-apropos li{
    position: relative;
    margin-bottom:5px;
}

.list-apropos li i.fa{
    position:absolute;
    left:-35px;
    top:6px;
    color:#00999e;
}

.max-w-500 {
    max-width: 600px;
}
.js-cookie-consent.cookie-consent {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(51, 102, 102, 0.9);
    z-index: 10000;
}
span.cookie-consent__message {
    color:white;
}
button.js-cookie-consent-agree {
    border: none;
    border-radius: 3px;
    background: white;
    padding: 10px 15px;
    font-size: 16px;
    color: #336666;
}
.footer_list {
    list-style: none;
    color: white;
    padding: 0;
}
.footer_list li:before {
    content: "\003E";
    font-size: 0.7em;
    vertical-align: middle;
    padding-right: 5px;
}
.footer_list li a {
    color:white;
}
.footer_list li a:hover {
    color: #0063dd;
}
.nice-select {
    width: 100% !important;
}
div#rgpd {
    border: 1px solid #dedede;
    height: 300px;
    overflow-y: scroll;
    font-size: 14px;
    background: white;
}
